html {
  background-color: #34353A;
  overflow-y: scroll;
  scrollbar-color: #FFDA18 #2D2E32;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body {
  background-color: #34353A;
  min-height: 100%;
}

.navbar.colorChange{
  color: #FFDA18;
    text-decoration: underline;
}

::-webkit-scrollbar {
  width: 8px;
  height: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  box-shadow: 0 0 5px #bababa;
  background: #8acee7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8acee7;
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 10px;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10px;
}

