html {
  background-color: #34353A;
  overflow-y: scroll;
  scrollbar-color: #FFDA18 #2D2E32;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  background-color: #34353A;
  min-height: 100%;
}

.navbar.colorChange{
  color: #FFDA18;
  position: relative;
  background-color: transparent;
  transition: transform 0.5s ease;
}

.navbar.colorChange:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.26vh;
  bottom: 0;
  left: 0;
  background-color: #FFDA18;
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  width: 1.5vh;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #2d2e32;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: #ffda18;
  border-radius: 10px;
  border: 1px solid #000000;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: #ffb618;
  box-shadow: 0 0 2vh rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 1vh;
}

::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 10vh;
}